<div class="har-analysis" ng-scope="harListCtrl">
    <div ng-if="data.data.passing">
        <h2>Test '{{config.test}}' passed!</h2>
    </div>
    <div ng-if="!data.data.passing">
        <h2>Test '{{config.test}}' failed!</h2>
    </div>
    <!-- If no test was specified, run all tests in the dir.-->
    <p> Select new tests to run from the config section of this widget.</p>
    <p ng-if="config.test == ''">Note: all tests were run since no test was specified. Choose a specific test in widget settings.</p>

    <highchart id="har_score_distribution" config="chartConfig"></highchart>

    <hr>
    <h5>Average score of HTTP Archive files: {{data.data.scores.averageScore}}</h5><br>

    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne"
                   href="#collapseOne">
                    Files analyzed: {{data.data.files.length}}
                </a>
            </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <select ng-model="selectedFile" ng-options="file as file.filename for file in data.data.files"></select>
                <br><br><b>File:</b>{{selectedFile.filename}}<br>
                <b>Status:</b> {{selectedFile.passing}}<br>
                <b>Score:</b> {{selectedFile.score}}<hr>

                <p><b>Failing Principles:</b></p>
                <ul ng-repeat="principle in selectedFile.failingPrinciples">
                    <li>
                        <b>{{principle.principle}}</b>
                        <p>More info: <a href="{{principle.helpLink}}"> {{principle.helpLink}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>